div.dataTables_wrapper div.dataTables_filter{
    text-align: left!important;
}
div.dataTables_wrapper div.dataTables_filter input{
    width:100%!important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border-bottom: 1px solid #ddd;
}
.table.custom-table tr td, th{
    padding: 8px;
    width: 1%!important;
}
.dataTables_info{
    display: none;
}